# =========================
# Build
# =========================
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!gradle/wrapper/gradle-wrapper.properties

# QueryDSL
/build/generated/

# =========================
# IDE
# =========================
# IntelliJ
.idea
*.iws
*.iml
*.ipr
out/

# STS
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/

# VS Code
.vscode/

# =========================
# OS
# =========================
.DS_Store
Thumbs.db

# =========================
# Logs
# =========================
logs/
*.log

# =========================
# Environment
# =========================
.env
.env.*

# =========================
# Temp files
# =========================
*.swp
*.swo

# =========================
# Application Config (중요)
# =========================
*.yml
*.yaml
!application-example.yml
!src/main/resources/application-example.yml